include .all-contributorsrc
include .editorconfig
include *.md
include pyflp/py.typed
include tox.ini
recursive-include .vscode *.json
include docs/conf.py
include docs/Makefile
include docs/make.bat
include docs/requirements.txt
recursive-include docs *.rst
recursive-include docs/img *.gif *.jpg *.png
recursive-include pyflp *.py
recursive-include tests *.md *.py *.flp
include *.txt
include *.yaml
include VERSION
