include .all-contributorsrc
include .editorconfig
include *.md
include tox.ini
recursive-include .vscode *.json
recursive-include docs/img *.jpg
recursive-include docs/img *.png
recursive-include docs *.rst
include docs requirements.txt
prune docs/_build
prune docs/_images
recursive-include pyflp *.py
recursive-include tests *.md
recursive-include tests *.py
recursive-include tests *.flp
include *.txt
include *.yaml
include *.yml
include VERSION
