name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version:
          ["3.7", "3.8", "3.9", "3.10", "pypy3.7", "pypy3.8", "pypy3.9"]
        os: ["macos-latest", "windows-latest", "ubuntu-latest"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov tox tox-gh-actions
          pip install -r requirements.txt
      - name: Test with tox
        run: tox
      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v3
        with:
          name: coverage-artifacts
          path: ./.coverage.*
  upload-to-codecov:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage[toml]
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: coverage-artifacts
      - name: Coverage data preparation for shitty codecov
        run: |
          coverage combine
      - name: Upload to Codecov
        uses: codecov/codecov-action@v3
